@charset "UTF-8";    /* 文字コードの指定 */

html
{
    font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #4c4c4c;
    background-color: #f9f8f6
}

a

{
    text-decoration: none;
    color: #ff9a00;
}

/* header
-----------------------------------------------------------------*/
/* PC版のメニュー */
.pc_navi_li {
    display:flex;
    list-style:none;
    
}
.pc_navi_li li {
    margin-left:15px;
}
 .sp_navi{
     display:none;
 }

.logo{
    margin-top:20px;
}

.menu{
    margin-top:40px;
}


/* メインコンテンツ
-----------------------------------------------------------------*/
/* カルーセル */
.owl-theme .owl-dots {
    text-align: left;
}
.owl-theme .owl-dots .owl-dot span {
    width: 40px; /* バーの幅 */
    height: 3px; /* バーの高さ */
    border-radius: 0;
    background: #aaaaaa; /* バーの色 */
    margin-left:0px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #9d1a2d; /* バーの赤い色 */
}

/* 商品リスト */
.item-container{
    display:flex;
    flex-wrap: wrap; /* 折返し指定 */
}
.item-box{
    background-color:#fff;
    padding:10px;
    margin-right:5px;
    margin-bottom:5px;
    width: calc(100% / 3 - 30px);
}
.item-box p{
    font-size:1.1rem;
    
}

/* ショッピングガイド */


/* フッター
-----------------------------------------------------------------*/
footer .copy {
    text-align: center;
    font-size: 11px;
    font-size: 1.1rem;
    color:#e9e7e3;
}
    
.footer-copy{
    text-align: center;
    border-top:1px solid #E2ddd4;
    padding-top:20px;
    color:#3e3d3d;
    font-size:1.1rem;
}

.pagetop{
    text-align: right;
    margin-bottom:20px;
}